<% @articulos.each do |articulo| %>

<h1><%= link_to articulo.titulo, articulo %></h1>
<div>
	<%= articulo.cuerpo %> - <%= link_to "Eliminar", articulo, method: :delete, class:"red" %>
</div>

<%end%>

<%= link_to "Agregar", new_articulo_path %>